@font-face {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    src: url('../assets/fonts/calibri.woff2') format('woff2'),
        url('../assets/fonts/calibrib.woff2') format('woff2'),
        url('../assets/fonts/calibrii.woff2') format('woff2'),
        url('../assets/fonts/calibril.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}
