$color-font-primary: orange;
$color-font-secondary:rgb(94, 72, 149);
$color-font-terciary: white;
$color-bg-default: rgb(9, 9, 74);
$color-bg-boxes: #FD3;
$font-family-title: 'Luxurious Roman', cursive;
$font-family-body: Calibri, Helvetica, sans-serif;
$font-size-title: 2.5rem;
$font-size-body: 1.6rem;
$font-size-principal: 3rem;
