
.container-fluid {
    margin: 0 auto;
}

footer {
    text-align: center; 
    margin-bottom: 30px;

    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 0.8rem;

    margin-top: 15px;
}


header .header-text {
    font-size: 1.5rem;
    text-align: center; 
    margin-left: 10%; 
    margin-right: 10%; 
    font-weight: bolder;

    background-color: black;
    color: white;
    padding: 20px 20px 20px 20px;
}

header .img-header {
    width: 100vw;
    height:100%;
}

header .header-imagem {
    text-align: center; 
    margin-left: 10%; 
    margin-right: 10%; 

    background-color: #0d6efd;
    color: white;

    margin-bottom: 30px;
}


.visible {
        visibility: visible !important;
}
.invisible {
    visibility: hidden !important;
 }

 .mt-30 {
     margin-top: 30px;
 }

 .mb-30 {
    margin-bottom: 30px;
}

.ml-20 {
    margin-top: 20px !important;
}

.mr-20 {
   margin-bottom: 20px !important;
}


@media(max-width: 800){
    #btn-importar{
        width: 300px !important;
    }

    #btn-limpar{
        margin-top: 20px;   
        width: 300px;
    }
}


.w-100{
    width: 100% !important;
}

.mt-20{
    margin-top: 20px !important;
}

.mb-20{
    margin-bottom: 20px !important;
}


#modal-ficha {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    vertical-align: center;
    color: red;
    font-weight: bold;
}

#modal-img {
    width: 250px;
    text-align: center;
}

#msg_validacao{
    width: 90%;
}